@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>DevOps App Demo in Azure - @ViewBag.EnvName</h1>
    @*<h4>Server: <i>@Environment.MachineName</i></h4>*@
    <h4>Domain: <i>@Request.Url.Host</i> </h4>
    <p class="lead">Windows Azure has lots of great features and capabilities. Learn more about what types of services are available by clicking the button below.</p>
    <p>
        <a href="http://www.azure.com" class="btn btn-default btn-lg">Learn more &raquo;</a>
        <a class="btn btn-danger btn-lg" href="/Guests/Create">Sign Guest Book</a>


    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IaaS</h2>
        <p>
            Click the button below to deploy <a target="_blank" href="https://github.com/aspnet/Tooling/blob/AspNetVMs/VMSetup/ASPNet-ARMTemplate.json" rel="noopener">this custom Azure Resource Manager (ARM) Template</a>, which will create a new Azure VM with all required components installed and configured.<br>
            <a target="_blank" href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Faspnet%2FTooling%2FAspNetVMs%2FVMSetup%2FASPNet-ARMTemplate.json" rel="noopener"><img alt="Create ASP.NET VM in Azure" src="https://github.com/aspnet/Tooling/raw/AspNetVMs/media/create-asp-net-vm-with-webdeploy/CreateAzureVM.png"></a><br>
            Note: It’s also possible to <a target="_blank" href="https://github.com/aspnet/Tooling/blob/AspNetVMs/docs/create-asp-net-vm-with-webdeploy.md" rel="noopener">update an existing VM</a>.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Containers</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>App Services</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
